
@{
    ViewData["Title"] = "CreateCheck";
}

<h3>Create New GoAver.com Check</h3>

<div>
    <button onclick="window.open('https://app.goaver.com/CheckCreate?token=@ViewData["Token"]');">Create New Check</button>
</div>